{% extends 'showbase.html' %}
{% block host_active %}
   active
{% endblock %}

{% block username %}
 {{ username }}
{% endblock %}
{% block content %}
    <h3 class="sub-header">编辑主机</h3>

      <div class="row">
        <div class="col-lg-8 col-lg-offset-2" style="margin-top: 70px">

            <form class="form-horizontal" action="" method="post">
                <div class="form-group">
                    <span  style="font-size:10px ;color:red">{{ error }}</span>

                </div>
                {% csrf_token %}

                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">主机名</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="" name="name" value="{{ obj.hname }}">
                    </div>
                </div>

                     <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">密码</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputEmail3" name="password">
                    </div>
                </div>

                   <div class="form-group">
                    <label for="" class="col-sm-2 control-label">业务线</label>
                    <div class="col-sm-10">
{#                        <input type="text" class="form-control" id="" name="name">#}
                        <select name="hlid" id="" class="form-control">
                           {% for foo in line_obj %}
                               {% if foo.id == obj.hlid_id %}
                                   <option  value="{{ foo.id }}">{{ foo.lname }}</option>

                               {%   else %}
                                   <option value="{{ foo.id }}">{{ foo.lname }}</option>

                               {% endif %}
                           {% endfor %}
                           
                            
                        </select>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">提交</button>
                    </div>
                </div>
            </form>
        </div>

    </div>



{% endblock %}