{% extends 'layout.html' %}
{% block content %}
  <div class="col-lg-8 col-lg-offset-2" style="margin-top: 70px">
        <form class="form-horizontal" method="post" action="" novalidate>
            {% csrf_token %}

            <div class="form-group {% if dep_form.name.errors %}has-error{% endif %}">


                <label for="{{ dep_form.name.id_for_label }}"
                       class="col-sm-2 control-label">{{ dep_form.name.label }}</label>
                <div class="col-sm-10">
                    {{ dep_form.name }}

                    <span class="help-block">{{ dep_form.name.errors.0 }}</span>
                </div>
            </div>



            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">添加</button>
                </div>
            </div>
        </form>
    </div>


{% endblock %}